{% extends "base.html" %}
{% block title %}devops安装{% endblock %}
{% block steps %}
<ul class="nav nav-pills flex-column" style="height: 700px;">
    {% for step in index_info.steps %}
        <li class="nav-item">
            {% if step.is_active == True %}
                <div class="nav-link active" aria-current="page">
            {% else %}
                <div class="nav-link" aria-current="page">
            {% endif %}
            <svg class="bi me-2" width="16" height="16"></svg>
            {{ step.name }}
            </div>
        </li>
    {% endfor %}
</ul>
{% endblock %}
{% block content %}
<div class="md-3 pre-scrollable" style="height: 800px; overflow: auto;">
    <label id="install_log"></label>
</div>
<div class="md-3" id="btn-next">

</div>
{% endblock %}
{% block js %}
<script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
<script>
    socket = io();
    $(document).ready(function(){
        $.ajax({
            url: "{{ url_for('install_devops') }}",
            type: "post",
            success: function(data){
                if(data["status"] == 200)
                {
                    get_install_log();
                }
            }
        })
    })

    function get_install_log()
    {
        socket.on("connect", function()
        {
            socket.emit("install_devops");
        });
        socket.on("log_on", function(res)
        {
            var node = document.getElementById("install_log");
            node.innerHTML += "<br>" + res;
        });
        socket.on("install_devops", function(res){
            if(res["status"]=="success")
            {
                var node = document.getElementById("btn-next");
                node.innerHTML = '<button type="button" class="btn btn-primary" onclick="goto_auth_cert()">下一步</button>'
            }
        })
    }
    function goto_auth_cert()
    {
        window.location.href = "{{ url_for('auth_cert') }}";
    }
</script>
{% endblock %}

