{% extends "base.html" %}
{% block title %}上传镜像{% endblock %}
{% block steps %}
<ul class="nav nav-pills flex-column" style="height: 700px;">
    {% for step in index_info.steps %}
        <li class="nav-item">
            {% if step.is_active == True %}
                <div class="nav-link active" aria-current="page">
            {% else %}
                <div class="nav-link" aria-current="page">
            {% endif %}
            <svg class="bi me-2" width="16" height="16"></svg>
            {{ step.name }}
            </div>
        </li>
    {% endfor %}
</ul>
{% endblock %}
{% block content %}
<div class="md-3 mt-3">
    <div class="md-3" id="div_download_zip">
        <button class="btn btn-primary" type="button" id="download_zip" onclick="download_zip()">下载编排文件zip</button>
    </div>
    <hr>
    <div class="md-3" id="div_upload_layout_file">
        <div class="row mt-3">
            <input class="input-group" type="text" id="layout_file_dir" name="layout_file_dir" placeholder="服务文件文件夹">
        </div>
        <div class="row mt-3"><button type="button" class="btn btn-primary" id="upload_lay_out_file" onclick="upload_layout_file()">服务文件上传</button></div>
        
    </div>
</div>
<div class="install_log pre-scrollable" id="install_log" style="height: 800px; overflow: auto;"></div>
{% endblock %}
{% block js %}
<script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
<script>
    var socket = io();
    $(document).ready(function()
    {
        if("{{ is_in_company }}" == "True")
        {
            document.getElementById("download_zip").disabled = true;
            document.getElementById("upload_lay_out_file").disabled = true;
        }
        $.ajax({
            url: "{{ url_for('install_pangu') }}",
            type: "post",
            success: function(data)
            {
                if(data["status"] == 200)
                {
                    get_install_log();
                }
                if(data["status"==400])
                {
                    document.getElementById("download_zip").disabled = false;
                    document.getElementById("upload_lay_out_file").disabled = false;
                }
            }
        })
    })
    function get_install_log()
    {
        var is_disable = document.getElementById("download_zip").disabled;
        var index;
        if(is_disable)
        {
            index = 1
        }
        else
        {
            index = 2
        }
        socket.on("connect", function()
        {
            socket.emit("install_begin", index);
        });
        socket.on("log_on", function(res)
        {
            var node = document.getElementById("install_log");
            node.innerHTML += "<br>" + res;
        });
    }

    function download_zip()
    {
        $.ajax({
            url: "{{ url_for('get_deploy_from_server') }}",
            type: "post",
            success:function(data)
            {
                console.log(data);
                if(data["status"] == 200)
                {
                    window.location.href = "/download_deploy/" + data["deploy_path"]
                }
            }
        })
    }

    function upload_layout_file()
    {
        var node_layout_file_dir = document.getElementById("layout_file_dir");
        layout_file_path = node_layout_file_dir.value;
        var dict = {"path":rau_path};
        var json_dict = JSON.stringify(dict);
        $.ajax({
            url: "{{ url_for('upload_layout_files') }}",
            type: "post",
            dataType:"json",
            data:json_dict,
            success:function(data)
            {
                console.log(data);
                if(data["status"] == 200)
                {
                    var node = document.getElementById("div_upload_layout_file");
                    var tip = document.createElement("label");
                    tip.innerHTML = "上传文件完毕！";
                    node.appendChild(tip);
                }
            }
        });
    }
</script>
{% endblock %}




