{% extends "base.html" %}
{% block title %}上传镜像{% endblock %}
{% block steps %}
<ul class="nav nav-pills flex-column" style="height: 700px;">
    {% for step in index_info.steps %}
        <li class="nav-item">
            {% if step.is_active == True %}
                <div class="nav-link active" aria-current="page">
            {% else %}
                <div class="nav-link" aria-current="page">
            {% endif %}
            <svg class="bi me-2" width="16" height="16"></svg>
            {{ step.name }}
            </div>
        </li>
    {% endfor %}
</ul>
{% endblock %}
{% block content %}
<div class="install_log pre-scrollable" id="install_log" style="height: 800px; overflow: auto;"></div>
<div class="file_to_upload pre-scrollable md-3" id="file_to_upload" style="height: 200px; overflow: auto;"></div>
<div class="file_translate_status pre-scrollable" id="file_translate_stauts" style="height: 200px; overflow: auto;"></div>
{% endblock %}
{% block js %}
<script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
<script>
    $(document).ready(function()
    {
        $.ajax({
            url: "{{ url_for('install_pangu') }}",
            type: "post",
            success: function(data)
            {
                if(data["status"] == 200)
                {
                    get_install_log();
                }
            }
        })
    })

    function get_install_log()
    {
        var socket = io();
        socket.on("connect", function()
        {
            socket.emit("install_begin");
        });
        socket.on("log_on", function(res)
        {
            var node = document.getElementById("install_log");
            node.innerHTML += "<br>" + res;
        });
        socket.on("download_rac", function()
        {
            window.location.href = "{{ url_for('download_rac') }}"
        });
        socket_on("upload_rau", function(){
            var node_file_to_upload = document.getElementById("file_to_upload");
            var node_form = document.createElement("form");
            node_file_to_upload.appendChild(node_form);
            var node_row1 = document.createElement("div");
            node_row1.className = "row mt-3"
            node_row1.innerHTML=' <div class="col-md-3">\
                    <input type="text" id="rau_path" class="form-control" name="rau" placeholder="请输入rau文件的全路径。">\
                </div>\
                ';
            node_file_to_upload.appendChild(node_row1);
            var node_row2 = document.createElement("div");
            node_row2.className = "row mt-3";
            node_row2.innerHTML = '<div class="col-md-3">\
                    <button class="btn btn-primary" type="button" onclick="upload_rau()">+</button>\
                </div>'
        });
    }
    function upload_rau()
    {
        var node_rau = document.getElementById("rau_path");
        rau_path = node_rau.value;
        var dict = {"rau_path":rau_path};
        var json_dict = JSON.stringify(dict);
        $.ajax({
            
        });
    }
</script>
{% endblock %}




