{% extends "base.html" %}
{% block title %}上传镜像{% endblock %}
{% block steps %}
<ul class="nav nav-pills flex-column" style="height: 700px;">
    {% for step in index_info.steps %}
        <li class="nav-item">
            {% if step.is_active == True %}
                <div class="nav-link active" aria-current="page">
            {% else %}
                <div class="nav-link" aria-current="page">
            {% endif %}
            <svg class="bi me-2" width="16" height="16"></svg>
            {{ step.name }}
            </div>
        </li>
    {% endfor %}
</ul>
{% endblock %}
{% block content %}
<form id="img_dir_path">
    <div class="mb-3 row justify-content-left">
        <label class="form-label col-form-label col-2">镜像文件夹</label> 
        <div class="col-10">
            <input class="form-control" type="text" name="file_path" id="file_path" placeholder="请输入镜像所在文件夹">
        </div>
    </div>
    <button type="button" class="btn btn-primary" onclick="send_img_dir(this.form)">上传</button>
    <hr>
</form>
<div class="upload_img_log pre-scrollable" id="upload_img_log" style="height: 600px; overflow: auto;">
</div>
<div class="mb-3" id="btn-next"></div>
{% endblock %}
{% block js %}
<script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
<script type="text/javascript" charset="utf-8">
    function send_img_dir(obj)
    {
        var imgs_path = document.getElementById("file_path").value;
        imgs_path.replace(/\\/g, '\\\\');
        var json_str = JSON.stringify({"file_path":imgs_path});
        $.ajax({
            url: "{{ url_for('upload_img') }}",
            data: json_str,
            type:"post",
            contentType:"application/json",
            dataType:"json",
            success: function (data) {
                console.log(data);
                if(data["status"] == 302)
                {
                    window.location.href = "{{ url_for('index') }}";
                }
                else if(data["status"] == 200)
                {
                    get_log();
                }
                
            },
            error: function(data){
                console.log(data);
            }
        });
    }
    
    function get_log()
    {
        var socket = io();
        socket.on('connect', function() {
            socket.emit('upload', {data: 'upload done'});
        });
        socket.on("log_on", function(res)
        {
            var elem_log = document.getElementById("upload_img_log");
            //var new_log = document.createElement("p");
            elem_log.innerHTML += "<br>" + res;
            //elem_log.appendChild(new_log);
        }
        );
        socket.on("upload_status", function(data)
        {
            if(!document.getElementById(data["filename"]))
            {
                var node_project_info_status = document.createElement("div");
                node_project_info_status.id = data["filename"];
                var label_project_info = document.createElement("label");
                label_project_info.innerHTML = data["filename"] + "上传进度";
                node_project_info_status.appendChild(label_project_info);
                var progress_project_info = document.createElement("div");
                progress_project_info.className = "progress";
                progress_project_info.id = data["filename"] + "_status";
                var percent_value = data["bytes"]/data["max_bytes"] * 100;
                progress_project_info.innerHTML = '<div class="progress-bar" role="progressbar" style="width: '+ percent_value +'%;" aria-valuenow="'+percent_value+'" aria-valuemin="0" aria-valuemax="100">'+percent_value+'%</div>';
                node_project_info_status.appendChild(progress_project_info);
                var node_log = document.getElementById("upload_img_log");
                node_log.appendChild(node_project_info_status);
            }
            else
            {
                var progress_project_info = document.getElementById(data["filename"] + "_status");
                var percent_value = data["bytes"]/data["max_bytes"] * 100;
                progress_project_info.innerHTML = '<div class="progress-bar" role="progressbar" style="width: '+ percent_value +'%;" aria-valuenow="'+percent_value+'" aria-valuemin="0" aria-valuemax="100">'+percent_value+'%</div>';
            }
        });
        socket.on("log_on", function(data)
        {
            // 打印shell运行过程日志
            var node_log = document.getElementById("upload_img_log");
            if(!document.getElementById("node_shell_log"))
            {
                var node_shell_log = document.createElement("div");
                node_shell_log.id = "node_shell_log"
                var label_shell_log = document.createElement("label");
                label_shell_log.id = "label_shell_log";
                label_shell_log.innerHTML += "<br>" + data
                node_shell_log.appendChild(label_shell_log);
                node_log.appendChild(node_shell_log);
            }
            else
            {
                var label_shell_log = document.getElementById("label_shell_log");
                label_shell_log.innerHTML += "<br>" + data
            }
        });
        
        socket.on("upload_success",function()
        {
            console.log("上传文件完毕");
            var node = document.getElementById("btn-next");
            node.innerHTML = '<button type="button" class="btn btn-primary" onclick="goto_install()">下一步</button>'
        }
        );
        socket.on("disconnect", function()
        {
            console.log("disconnected");
        }
        );
        socket.on("upload_rau")
    }  
    function goto_install()
    {
        window.location.href = "{{ url_for('install_pangu') }}";
    }
</script>
{% endblock %}




